h1{
    text-align: center;
}
.main-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgb(0, 0, 0);
}

.button{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    padding: 10px 30px;
}

p{
    margin: 0;
    text-align: center;
}